<div class="header">
  <div class="left">
    <div class="logo">GS</div>
    <div class="group-info">
      <div class="group-name">
        {{ groupName || 'Group Name' }}
        @if (isAdmin) {
          <span class="edit-icon" (click)="openEditDialog()"><mat-icon>edit</mat-icon></span>
        }
      </div>

      <div class="group-code">
        Group Code: <span class="code">{{ groupCode }}</span>
        <span class="icon copy" matTooltip="Copy" (click)="copyGroupCode()"
          ><mat-icon>content_copy</mat-icon></span
        >
        @if (isAdmin) {
          <button
            class="btn manage"
            (click)="openManageDialog()"
            [matTooltip]="openForNewMembers ? 'Close Group' : 'Open Group'"
            [class.open]="openForNewMembers"
            [class.closed]="!openForNewMembers"
          >
            <mat-icon>{{ openForNewMembers ? 'lock_open' : 'lock' }}</mat-icon>
          </button>
        }
      </div>
    </div>
  </div>

  <div class="right">
    <span class="greeting">Hello {{ nickname || username }}!</span>
    <button class="btn profile" (click)="goToProfile()"><mat-icon>person</mat-icon> Profile</button>
    <button class="btn signout" (click)="signOut()">Sign Out <mat-icon>logout</mat-icon></button>
  </div>
</div>
<div class="modal-backdrop" *ngIf="showEdit">
  <div class="modal" (click)="$event.stopPropagation()">
    <h3>Edit Group Name</h3>
    <input type="text" [(ngModel)]="tempGroupName" placeholder="Group name" />
    <div class="actions">
      <button class="btn cancel" (click)="cancelEdit()">Cancel</button>
      <button class="btn save" (click)="saveGroupName()">Save</button>
    </div>
  </div>
</div>

<div class="modal-backdrop" *ngIf="showManage" (click)="cancelManage()">
  <div class="modal" (click)="$event.stopPropagation()">
    <h3>{{ openForNewMembers ? 'Close Group' : 'Open Group' }}</h3>
    <p>
      {{
        openForNewMembers
          ? 'Are you sure you want to close this group?'
          : 'Are you sure you want to open this group?'
      }}
    </p>
    <div class="actions">
      <button class="btn cancel" (click)="cancelManage()">Cancel</button>
      <button class="btn save" (click)="confirmManage()">Confirm</button>
    </div>
  </div>
</div>
